body {
  background: url(photo0000-0331.jpg) no-repeat center center fixed #C0C0C0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 200vh;
}